h1{
    text-align: center;
    color:#1B0702 ;
    font-style: italic;
    font-display: block;
    font-family: arial;
    font-variant: normal;
    font-weight: 800;
}
body{
    background-color: lightblue;
    margin: 10px;
    border: 10px;
    padding: 10px;
    
}


ul{
    
    color: black;
    font-size: 20px;

}
.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
a{
    text-decoration: none;
    color: black;
    
}
a:hover{
    color: blue;
}
a:active{
    color: green;
}
a:visited{
    color:violet;
}
.box1{
    background-color: #333;
    color: white;
    border: 5px Solid green;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

}
.container{
    width: 80%;
    margin: auto;
}
.box1 h3{
    text-align: center;
    color: whitesmoke;
    font-size: 25px;
    text-decoration: underline;
    text-transform: uppercase;
    
}
.box1 p{
    text-align: justify;
}
.box2{
    background-color: #333;
    color: whitesmoke;
    border: 2px dotted rgb(75, 167, 204);
    margin: auto;
    padding: 10px;
    width: 80%;
    
}
.box2 p{
    text-align: justify;
    border: 10px;
}
.box2 h3{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 1.4;
}
.catagories{
    background-color:whitesmoke;
    color: black;
    border: 2.5px solid black;
    margin: auto;
}
.catagories h4{
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
}
.catagories ul{
    padding: 10px;
    list-style: square;
}
.catagories ul li {
    border-bottom: 1.5px solid black;
    list-style-image: url(../Images/tik.png);
    
}
.my-form{
    background-color: whitesmoke;
    color: black;
    border: 2.5px solid black;
    margin: auto;
    padding: 10px;
    width: 80%;
}

.my-form .form-group{
    margin: 10px;
}

.my-form .form-group label{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
}

.my-form .form-group input{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
}

.my-form input
{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
}

.my-form input[type="submit"]{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    background-color: rgb(75, 167, 204);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.my-form input[type="submit"]:hover{
    background-color: rgb(75, 167, 204);
    color: white;
    font-weight: 600;
    cursor: pointer;
}